.App {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  height: 500px;
  margin: 10px;
  padding: 27px;
}

.card:hover {
  margin-top: 1px;
  cursor: pointer;
}
.button{
  background-color:gold;
  border-radius: 1px;
}